*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

#web-app{
    width: 100%;
    height: 100vh;
}

/*main: 100% - header - footer*/

aside{
    width: 250px;
    height: 850px;
    background-color: #000000;
}

#logo{
    width: 70%;
    padding: 20px;
}

#logo > a > svg{
    width: 150px;
}

#main-dashboard{
    width: 100%;
    padding: 20px;
    height: 150px;
}

#main-dashboard > ul > li {
    padding-block: 5px;
    font-weight: bold;
    list-style-type: none;
}

#main-dashboard > ul > li > a{
    text-decoration: none;
    color: grey;  
}

#main-dashboard > ul > li > a:hover{
    color: white;
}

#main-dashboard > ul > li > a > span{
    padding: 10px;
}

#playlist{
    padding-block: 20px;
}

#playlist > span{
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.new-playlist{
    width: 40px;
    height: 40px;
    margin-block: 10px;
    background-color: grey;

    position: relative;
}


.new-playlist > .svg-flex{
    position: absolute;
    top: 7px;
    left: 7px;
}


.flex-playlist{
    width: 100%;
    height: 50px;
    margin-block: 10px;
    
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-flex > span{
    margin: 10px;
    color: grey;
}

.playlist-added > ul > li > a{
    color: grey;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
}

.playlist-added > ul > li > a:hover{
    color: #fff;
}

.playlist-added > ul > li{
    list-style-type: none;
}

.download-app{
    position: relative;
}

.download-app{
    height: 130px;
}

.container-download{
   display: flex;
    position: absolute;
    bottom: 0;
    padding-block: 10px;
}

.account{
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 50%;
    margin-top: 20px;
    
    position: relative;
    bottom: 10px;
}

.user{
    position: absolute;
    left: 8px;
}

.container-account{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.name-text > span{
    color: #fff;
    font-weight: bold;
}

.container-footer{
    width: 100%;
    height: 115px;
    
    background-color: #282828;
    position: fixed;
}

#fix-footer{
    width: 95%;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

#fix-footer .container-song {
    width: 130px;
    height: 50px;
    margin-block: 30px;
    display: flex;
}

#fix-footer .container-song > .pic-song{
    width: 70px;   
}

#fix-footer .container-song > .pic-song img{
    width: 100%;
}

#fix-footer .container-song .name-song{
    padding: 5px;
}

#fix-footer .container-song .name-song > span{
    color: white;
}

#fix-footer .container-song .name-song > span:last-child{
    color: rgb(154, 154, 154);
    font-size: 15px;
}

.container-icon{
    width: 100px;
    height: 50px;
    
    display: flex;
}

.container-icon #first-icon,
.container-icon #second-icon{
    width: 40%;
    text-align: center;
    padding-block: 10px;
}

#icon-play{
    width: 70%;
}


#icon-play #font-icon{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-block: 15px;
}

#icon-play #font-icon .icon .circle{
    padding-block: 120px;
}

.hr-play{
    width: 90%;
    display: flex;
    height: 30px;
    margin: 0 auto;
    border: 1px solid lime;
}


.hr-play .time{
    flex-basis: calc( (100% / 3)  );
    border: 1px solid red;
}

#header-upgrade{
    width: calc( 100% - 250px );
    height: 100px;
    background-color: #080b12;

    display: flex;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-upgrade .flex-upgrade{
    padding: 30px
}

#header-upgrade .flex-upgrade .btn-upgrade{
    border: 2px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}

#header-upgrade .flex-upgrade .btn-upgrade a {
    text-decoration: none;
    color: #fff;
}

#header-upgrade .flex-upgrade .btn-upgrade a:hover{
    opacity: 0.5;
}

.container-main{
    width: calc( 100% - 250px);
    height: 751px;
    

    position: absolute;
    right: 0;
    bottom: 115px;
}

#container-nav{
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #141922;
}


#container-nav .navbar{
    display: flex;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    
}

.choose-page{
    width: calc( 100% / 6 );
    height: 40px;
}

#container-nav .navbar .choose-page a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: grey;
}

#container-nav .navbar .choose-page a:hover{
    color: #fff;
}

#container-album{
    width: 100%;
    height: 100%;
    background-color: #141922;
}

#container-album .title-container{
    width: 95%;
    margin: 0 auto;
    padding-block: 10px;
}

#container-album .title-container h3{
    color: #fff;
}

.container-text-img{
    padding: 20px;
    width: 100%;
    height: 300px;
}

.flex-album{
    
    width: 100%;
    height: 180px;
    display: flex;
    gap: 20px;
    margin-inline: 5px;
}

.flex-album .card{
    width: calc( 100% / 6 - 20px );
    height: 180px;
}

.flex-album .card img{
    width: 100%;
    height: 180px;
}

.text-img{
    text-transform: uppercase;
    color: #fff;
}

.text-img span{
    color: grey;
}